h1 {
  font-family: 'Bai Jamjuree', sans-serif;
  background-color: rgb(172, 96, 45);
  border: 1px solid rgb(172, 96, 45);
  border-radius: .5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body, .head {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
}

.nutrition-facts {
  font-family: 'Cutive Mono', monospace;
}

#bread {
  display: inline;
  width: 40em;
  opacity: .8;
  border-radius: .5em;
}
