#bread {
  display: inline;
  width: 60em;
  opacity: .8;
  border-radius: .5em;
}

#wrapper {
  position: relative;
}

#first {
  position: absolute;
  width: 50%;
}

#second {
  position: absolute;
  width: 50%;
  left: 50%;
}
