h1 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(238, 194, 55);
  background-color: rgba(255, 13, 13, 0.6);
  border-radius: 5px;
  margin: 0 1em 0 1em;
}

body {
  font-family: 'Slabo 27px', serif;
  color: rgb(233, 161, 73);
  font-size: 20px;
  padding: .5em;
  border-radius: 5px;
}

.nutrition-facts {
  font-family: 'Anonymous Pro', monospace;
}

h2, .frosting, .time, .preparation, .baking, .making, .nr-cupcake {
  background-color: rgb(238, 194, 55);
  color: rgba(255, 13, 13, 0.6);
  padding-left: .3em;
  padding-right: .3em;
  border-radius: 5px;
  margin-left: .5em;
}

#frosting, #direction, .quantity, #preparation, .duration, .cooling,
#baking, .number-of-servings, .cool, .nutrition-facts, #facts {
  border-radius: .5em;
}

.requirements ,#nutrition-facts {
  margin-left: .5em;
  border-style: inherit;
  border-color: white;
  border-radius: .5em;
  background-color: rgba(210, 0, 0, 0.12);
}

#facts, #requirements {
  white-space: pre;
  padding-bottom: .5em;
}

#pic {
  position: relative;
  margin-left: 2em;
}

#nutrition-facts {
  margin: 1em;
  position: absolute;
  top: 18.5%;
  left: 55%;
  padding-right: 1em;
}

.requirements {
  position: absolute;
  top: 18%;
  left: 35%;
  padding-right: 1em;
}

div {
  margin: 1em;
}

.para {
  padding-left: 2em;
}
