.requirements ,#nutrition-facts {
  margin-left: .5em;
  border-style: inherit;
  border-color: white;
  border-radius: .5em;
  background-color: rgba(210, 0, 0, 0.12);
}

#facts, #requirements {
  white-space: pre;
  padding-bottom: .5em;
}

#nutrition-facts {
  margin: .5em;
  position: absolute;
  top: 34.5%;
  right: 2%;
  padding-right: 1em;
}

.requirements {
  position: absolute;
  top: 12%;
  right: 1%;
  padding-right: 1em;
}
