h1 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(238, 194, 55);
  background-color: rgba(255, 13, 13, 0.6);
}

body {
  font-family: 'Slabo 27px', serif;
  color: rgb(255, 0, 47);

  font-size: 18px;
  border-radius: 5px;
  background-image: url(cupcake.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  position: absolute;
}

.nutrition-facts {
  font-family: 'Anonymous Pro', monospace;
}

h2, .frosting, .time, .preparation, .baking, .making, .nr-cupcake {
  color: rgba(255, 13, 13, 0.6);
  padding-left: .3em;
  padding-right: .3em;
  border-radius: 5px;
  margin-left: .5em;
}

#frosting, #direction, .quantity, #preparation, .duration, .cooling,
#baking, .number-of-servings, .cool, .nutrition-facts, #facts {
  border-radius: .5em;
}

.requirements ,#nutrition-facts {
  margin-left: .5em;
  border-color: white;
  border-radius: .5em;
  background-color: rgba(210, 0, 0, 0.12);
}

#facts, #requirements {
  white-space: pre;
  padding-bottom: .5em;
}

#nutrition-facts {
  margin: .5em;
  position: absolute;
  top: 35.5%;
  right: 2%;
  padding-right: 1em;
}

.requirements {
  position: absolute;
  top: 12%;
  right: 1%;
  padding-right: 1em;
}

div {
  margin: 1em;
}

#bodydiv {
  border: 1px solid transparent;
  border-radius: .5em;
  background-color: white;
  opacity: 0.7;
  margin: 1em 10em 0 10em;
  position: relative;
}

#direction {
  margin-top: 3em;
}
