h1 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(238, 194, 55);
  background-color: rgba(255, 13, 13, 0.6);
}

body {
  font-family: 'Slabo 27px', serif;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  background-image: url(cupcake.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  position: absolute;
}

.nutrition-facts {
  font-family: 'Anonymous Pro', monospace;
}

h2, .frosting, .time, .preparation, .baking, .making, .nr-cupcake {
  background-color: rgb(238, 194, 55);
  color: rgba(255, 13, 13, 0.6);
  padding-left: .3em;
  padding-right: .3em;
  border-radius: 5px;
  margin-left: .5em;
}

div {
  margin: 1em;
}

#bodydiv {
  border: 1px solid rgba(237, 40, 40, 0.56);
  border-radius: .5em;
  background-color: rgba(255, 13, 13, 0.37);
  margin: 1em 10em 0 10em;
  position: relative;
}
