h1 {
  color: white;
  background-color: rgb(249, 101, 101);
  font-family: 'Dosis', sans-serif;
  font-style: bold;
  padding: .5em 1em;
  border-radius: 5px;
}

h2, .time {
  color: white;
  background-color: rgb(68, 216, 231);
  padding: .5em .5em;
  border-radius: 5px;
}

body {
  color: white;
  background-color: rgb(227, 219, 196);
  font-family: 'Cinzel', serif;
  font-size: 18px;
  position: relative;
  margin-left: 2em;
  margin-right: 2em;
}

.nr {
  color: rgb(82, 12, 67);
}

h2, h3, #prep, #making {
  text-decoration: underline;
}

.ingreds {
  background-color: rgb(233, 143, 152);
  padding: .50em 1.5em;
  border-radius: 5px;
}

.directions {
  background-color: rgb(233, 143, 152);
  padding: .50em 1.5em;
  border-radius: 5px;
}

#facts, .duration, .number-of-servings, #prep, #making {
  font-family: 'Nova Mono', monospace;
  color: white;
  background-color: rgb(233, 143, 152);
  text-decoration: none;
  border-radius: 5px;
  padding: .50em 1.5em;
}

#image {
  position: relative;
}

.ingredients {
  position: absolute;
  left: 20em;
  top: 0em;
}

#lineup {
  position: relative;
  padding-top: .2em;
}
