h1, h2 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Noto Serif TC', serif;
  margin: 2em 10em 10em;
}

.referenzen {
  font-family: 'Cutive Mono', monospace;
}

img {
  float: right;
}

#personalien, #berufliche-tätigkeiten, #schulbildung, #school-info {
  position: relative;
}

.personal-info, #date-of-birth, #email-address,
#date-of-arrival, #github-link, #telefon-number, .address, .work, .school {
  position: absolute;
  left: 14em;
}

.address {
  position: relative;
  bottom: 2.5em;
}
