h1, h2 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Noto Serif TC', serif;
  margin: 2.5em 13em 10em 5em;
  line-height: 2em;
}

h1{
  text-align: center;
  margin-bottom: 1em;
}

h2 {
  margin: 1em 0 0 0;
  padding-bottom: .5em;
}

.hobbies, .computer-knowledge {
  margin: 1em 0 0 0;
}

.referenzen {
  font-family: 'Cutive Mono', monospace;
}

img {
  position: absolute;
  top: 17%;
  right: 20%;
}

.grid-display {
  display: grid;
  grid-template-columns: 25% 45%;
  grid-column-gap: 3.5em;
}

