img {
  float: right;
}

.personal-info, #date-of-birth, #email-address,
#date-of-arrival, #github-link, #telefon-number, .address, .work, .school {
  position: absolute;
  left: 14em;
}

#personalien, #berufliche-tätigkeiten, #schulbildung, #school-info {
  position: relative;
}

.address {
  position: relative;
  bottom: 2.5em;
}
